
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <script src="~/Scripts/script.js"></script>
    <title>Index</title>
</head>
<body>
    <!-- Sidebar -->
    <div style="width:100%">
        <table style="width:100%">
            <tr>
                <th>
                    <a href="@Url.Action("addOne", "Queue")"> Add one item to Queue</a>
                </th>
                <th>
                    <a href="@Url.Action("addHuge", "Queue")"> Add Huge List of Items to Queue</a>
                </th>
                <th>
                    <a href="@Url.Action("Index", "Queue")"> Display Queue</a>
                </th>
                <th>
                    <a href="@Url.Action("deleteFromQueue", "Queue")"> Delete from Queue</a>
                </th>
                <th>
                    <a href="@Url.Action("clearQueue", "Queue")"> Clear Queue</a>
                </th>
                <th>
                    <a href="@Url.Action("searchQueue", "Queue")"> Search Queue</a>
                </th>
                <th>
                    <a href="@Url.Action("Index",  "Home")">Return to Main Menu</a>
                </th>
            </tr>
        </table>
    </div>

    <!-- Page Content -->
    <div>
        <h1>Output</h1>

        @Html.Raw((String)ViewBag.Queue)
        @Html.Raw((String)ViewBag.StopWatch)
        @Html.Raw((String)ViewBag.Error)

    </div>
</body>
</html>
