
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <script src="~/Scripts/script.js"></script>
    <title>Index</title>
</head>
<body>
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div style="width:100%">
        <table style="width:100%">
            <tr>
                <th>
                    <a href="@Url.Action("addOne", "Dictionary")"> Add one item to Dictionary</a>
                </th>
                <th>
                    <a href="@Url.Action("addHuge", "Dictionary")"> Add Huge List of Items to Dictionary</a>
                </th>
                <th>
                    <a href="@Url.Action("Index", "Dictionary")"> Display Dictionary</a>
                </th>
                <th>
                    <a href="@Url.Action("deleteFromDictionary", "Dictionary")"> Delete from Dictionary</a>
                </th>
                <th>
                    <a href="@Url.Action("clearDictionary", "Dictionary")"> Clear Dictionary</a>
                </th>
                <th>
                    <a href="@Url.Action("searchDictionary", "Dictionary")"> Search Dictionary</a>
                </th>
                <th>
                    <a href="@Url.Action("Index",  "Home")">Return to Main Menu</a>
                </th>
            </tr>
        </table>
    </div>

    <!-- Page Content -->
        <div>
            <h1>Output</h1>

            @Html.Raw((String)ViewBag.Dictionary)
            @Html.Raw((String)ViewBag.StopWatch)
        </div>
</body>
</html>
