
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- Sidebar -->
    <div style="width:25%">
        <h3>Menu</h3>
        <a href="@Url.Action(" Index", "Home")"> Add one time to Dictionary</a><br /><br />
        <a href="@Url.Action(" Index", "Home")"> Add Huge List of Items to Dictionary</a><br /><br />
        <a href="@Url.Action(" Index", "Home")"> Display Dictionary</a><br /><br />
        <a href="@Url.Action(" Index", "Home")"> Delete from Dictionary</a><br /><br />
        <a href="@Url.Action(" Index", "Home")"> Clear Dictionary</a><br /><br />
        <a href="@Url.Action(" Index", "Home")"> Search Dictionary</a><br /><br />
        <a href="@Url.Action("Index",  "Home")">Return to Main Menu</a><br /><br />
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

        <div class="w3-container w3-teal">
            <h1>My Page</h1>
        </div>



    </div>
</body>
</html>
